//PRIMARY COLORS ------------------------------------
$primary-color-one: hsl(1, 90%, 64%);
$primary-color-two: hsl(219, 85%, 26%);

//NEUTRAL COLORS ------------------------------------
$white: hsl(0, 0%, 100%);
$light-blue: hsl(210, 60%, 98%);
$blue1: hsl(211, 68%, 94%);
$blue2: hsl(205, 33%, 90%);
$grayish-blue: hsl(219, 14%, 63%);
$dark-blue: hsl(219, 12%, 42%);
$dark-blue2: hsl(224, 21%, 14%);
