@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

// MEDIA SIZE -------------------------------------------------------------
$media-max-width-sm: 375px;
$media-max-width-lg: 1440px;

// FONT FAMILIES -------------------------------------------------------------

$font-family-text: "Plus Jakarta Sans", sans-serif;

// FONT FAMILIES -------------------------------------------------------------
$font-size-default: 16px;
